ul {
    list-style-type: none;
}

.done-true {
    text-decoration: line-through;
    color: gray;
}

.done-false {
	text-decoration: none;
	color: black;
}

.todo-added-true {
     display: inline-block;
}

.todo-added-false {
    display: none;
}

.todo-error-false {
    display: none;
}

.todo-error-true {
    display: inline-block;
}